/*.o
/.deps
/.libs
/*~
/Makefile
/Makefile.in
/audio
/cdchange
/cdio-eject
/cdtext
/device
/drives
/eject
/isofile
/isofile2
/isofuzzy
/isolist
/isolsn
/mmc1
/mmc2
/mmc2a
/mmc3
/paranoia
/paranoia2
/sample3
/sample4
/tracks
/udf1
/udffile
