include data/copying.iso
include data/isofs-m1.bin
include data/isofs-m1.cue
include example/README
include example/*.py
include swig/*.swg
include test/cdda.bin
include test/cdda.cue
include test/cdda.toc
