/*.exe
/*.o
/*~
/.deps
/.libs
/Makefile
/Makefile.in
/abs_path
/bincue
/bincue
/cdda
/cdrdao
/cdtext
/follow_symlink
/freebsd
/gnu_linux
/logger
/mmc_read
/mmc_write
/nrg
/osx
/realpath
/solaris
/track
/win32
